<div class="h5 mxn1">
  <a href="../" title="Home" class="btn compact btn-link p1">Home</a>
  <span class="">
    <span class="muted"> / </span><a href="#" title="Games" class="btn compact btn-link p1">Games</a>
  </span>
</div>

<div>
  <h1>Games</h1>
  <ul>
    <% games.each do |game| %>
    <li><%= link_to game[:full_name], "NWSL#{game[:id]}/" %></li>
    <% end %>
  </ul>
</div>
