<div class="h5 mxn1">
  <a href="../../" title="Home" class="btn compact btn-link p1">Home</a>
  <span class="">
    <span class="muted"> / </span>
    <a href="../" title="Games" class="btn compact btn-link p1">Games</a>
    <span class="muted"> / </span>
    <a href="#" title="<%= game[:full_name] %>"
      class="btn compact btn-link p1"> <%= game[:full_name] %> </a>
  </span>
</div>

<div>
  <h1><%= game[:full_name] %></h1>
  <h2><%= game[:date] %></h2>

  <h2>Game Info</h2>
  <p></p>
</div>
