<footer class="Footer h6 compact mt4">
  <div class="container px2 sm-px3" style="max-width:64rem;">
    <div class="py3 border-top">
      <div class="flex flex-wrap flex-baseline mxn1">
        <a href="//github.com/cynicalfooty/" title="GitHub" class="btn compact btn-link p1">GitHub</a>
        <div class="flex-auto"></div>
        <a href="//dannypage.github.com" title="Made by Danny Page" class="btn compact btn-link p1">Made by Danny Page</a>
      </div>
    </div>
  </div>
</footer>
