<div class="h5 mxn1">
  <%= link_to "Home", "..", class: "btn compact btn-link p1", title: "Home" %>
  <span class="">
    <span class="muted"> / </span>
    <%= link_to "Teams", "#", class: "btn compact btn-link p1", title: "Teams" %>
  </span>
</div>

<div>
  <h1>NWSL Teams</h1>
  <ul>
    <% teams.each do |team| %>
    <li><%= link_to team[:full_name], "#{team[:alias].downcase}" %></li>
    <% end %>
  </ul>
</div>
