<div class="h5 mxn1">
  <a href="../" title="Home" class="btn compact btn-link p1">Home</a>
  <span class="">
    <span class="muted"> / </span><a href="#" title="Players" class="btn compact btn-link p1">Players</a>
  </span>
</div>

<div>
  <h1>Players</h1>
  <ul>
    <% players.each do |player| %>
    <li><%= link_to player[:full_name], "#{player[:full_name].gsub(/[^0-9a-z]/i, '').downcase}" %></li>
    <% end %>
  </ul>
</div>
