<div class="h5 mxn1">
  <a href="#" title="Data Download" class="btn compact btn-link p1">Home</a>
</div>

<div class="index">
  <h1>CSV files</h1>
  <h2><%= link_to "Teams", "teams.csv" %></h2>
  <h2><%= link_to "Players", "players.csv" %></h2>
  <h2><%= link_to "Games", "games.csv" %></h2>
  <h2><%= link_to "Rosters", "rosters.csv" %></h2>
</div>
